 
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size:3rem;
}
h1::first-letter,#hours ,#minutes,#status{
    color:orange;
    /* font-size: 1.3rem; */
}
h2{
    text-align:center;
}
.show-data{
   margin-top:5vh;
   margin-bottom:5vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    text-align:center;
    padding:5px;
    font-size:2rem;
}
button{
    border:2px solid green;
    border-radius:25px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right:15px;
    color:white;
    font-size:2rem;
    background-color: green;
}
.all-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left:5%;
    margin-right:5%;
    width:90%;
}
.wrapper-class{
    margin-left:5%;
    margin-right:5%;
    width:90%;
}
.whole{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.status{
    margin-top:3vh;
}
p{
    font-size:1.5 rem;
}
p span{
    padding:10px;
}